
body.login-page::after {
    /*background: rgba(0, 0, 0, 0) url("../img/background1-1.jpeg") repeat scroll 0 0 / cover ;
    content: "";*/
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.wd-xl {
    width: 400px;
}
.mt-xl {
   margin-top: 5% !important;
}
.btn{
    border-radius: 0px;
}
